USE [master]
GO
/****** Object:  Database [CRUD_OPERATION]    Script Date: 9/13/2024 12:21:18 AM ******/
CREATE DATABASE [CRUD_OPERATION]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CRUD_OPERATION', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CRUD_OPERATION.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CRUD_OPERATION_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CRUD_OPERATION_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CRUD_OPERATION].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CRUD_OPERATION]
GO
/****** Object:  Table [dbo].[ut]    Script Date: 9/13/2024 12:21:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ut](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NULL,
	[age] [float] NULL,
 CONSTRAINT [PK_ut] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
